RewriteEngine On
RewriteBase /Practiques/M07-Servidor/Alexis_Boisset_Pt05/

# No aplicar regla si el archivo o directorio existe
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# No aplicar regla si ya estamos en index.php
RewriteCond %{REQUEST_URI} !^/Practiques/M07-Servidor/Alexis_Boisset_Pt05/index\.php

# Redirigir todo lo demás a index.php
RewriteRule ^(.*)$ index.php [QSA,L]

# Página de error 404
ErrorDocument 404 /views/errors/404.view.php